body {
    background-color: #181818;
    font-family: 'Sofia Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    --bs-gutter-x: 0rem !important;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
}

.subtitle {
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.bundle-off {
    background-color: #272727;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    border-bottom: 2px solid #ffffff;
    padding: 5px;
}

.bundle-off-text {
    color: white;
    font-size: 20px;
}

.bundle-off-1 {
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    background-color: #f5ae16;
    border-bottom: 2px solid #ffffff;
    text-transform: uppercase;
    padding: 5px;
    font-size: 20px;
}

.bundle-quantidade {
    float: right;
    background-color: #0f0f0f;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.bundle-quantidade-1 {
    float: right;
    background-color: #9e7316;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.loja-fundo {
    border-start-end-radius: 10px !important;
    border-start-start-radius: 10px !important;
}

.loja-bar,
.bundle-bar {
    background-color: #252525;
    width: 100%;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    padding: 10px 0;
    border-top: 2px solid #ffffff;
}

.bundle {
    background-color: #3d3d3d;
}

.loja-title {
    color: white;
    font-size: 100%;
    text-transform: uppercase;
}

.loja-price {
    color: rgb(185, 185, 185);
    font-size: 16px;
}

.loja-bar#epic,
.bundle-bar#epic {
    border-top: 5px solid #be58cc;
}

.loja-bar#icon,
.bundle-bar#icon {
    border-top: 5px solid #00c3ff;
}

.loja-bar#lava,
.bundle-bar#lava {
    border-top: 5px solid #d83c0d;
}

.loja-bar#shadow,
.bundle-bar#shadow {
    border-top: 5px solid rgb(0, 0, 0);
}

.loja-bar#marvel,
.bundle-bar#marvel {
    border-top: 5px solid #a32424;
}

.loja-bar#slurp,
.bundle-bar#slurp {
    border-top: 5px solid #0e557e;
}

.loja-bar#dc,
.bundle-bar#dc {
    border-top: 5px solid #353399;
}

.loja-bar#dark,
.bundle-bar#dark {
    border-top: 5px solid #4d1666;
}

.loja-bar#frozen,
.bundle-bar#frozen {
    border-top: 5px solid #2f88b1;
}

.loja-bar#star-wars,
.bundle-bar#star-wars {
    border-top: 5px solid #1e1d3a;
}

.loja-bar#legendary,
.bundle-bar#legendary {
    border-top: 5px solid #ebb916;
}

.loja-bar#rare,
.bundle-bar#rare {
    border-top: 5px solid #1e6ed8;
}

.loja-bar#uncommon,
.bundle-bar#uncommon {
    border-top: 5px solid #10aa10;
}

.modal-content {
    background-color: #252525;
}

.modal-title {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.modal-subtitle {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.modal-description {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
}

.modal-raridade {
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
}

.btn-close {
    filter: invert(100%);
    opacity: 1;
}

.fechar {
    color: rgb(36, 36, 36);
    background-color: white;
}

hr {
    border: 1px solid white;
    opacity: 1;
}

.header {
    background-color: #252525;
    width: 100%;
    margin: 0px !important;
    padding: 15px;
    border-bottom: 2px solid white;
}

.btn-loja {
    background-color: #181818;
    border: 3px solid white;
    border-radius: 100px;
    width: 150px;
    padding: 10px 2px;
    color: white;
    transition: ease 0.3s;
}

.btn-loja:hover {
    background-color: white;
    color: #181818;
    border: 3px solid #181818;
}

.cursor-pointer {
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.cursor-pointer span:hover {
    background-color: #3d3d3d;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.loja img {
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
}